/*

Owner:      Jared Marangolo
Site Name:  Marangolo.com

Last Edit:  10/02/19

 */


p { font-family: Arial, Helvetica, sans-serif; color: white; font-size: 14pt;}
h1 { font-family: Arial, Helvetica, sans-serif; }
h2 { font-family: Arial, Helvetica, sans-serif; color: white; text-decoration: underline; }
h3 { font-family: Arial, Helvetica, sans-serif; }
h4 { font-family: Arial, Helvetica, sans-serif; }
h5 { font-family: Arial, Helvetica, sans-serif; }
body { font-family: Arial, Helvetica, sans-serif; background-color: #6495ED }


a:link { color: white; text-decoration: none; background-color: #6495ED; transition: 0.3s;
    padding: 14px 25px; text-align: center; max-width: 100%; display: inline-block; }

a:visited { color: lightgrey; text-decoration: none; background-color: #6495ED; transition: 0.3s;
    padding: 14px 25px; text-align: center; max-width: 100%; display: inline-block; }

a:hover { color: white; text-decoration: none; background-color: blue; transition: 0.3s;
    padding: 14px 25px; text-align: center; max-width: 100%; display: inline-block; }

a:active { color: #6495ED; text-decoration: none; transition: 0.3s;
    padding: 14px 25px; text-align: center; max-width: 100%; display: inline-block; }

ul { color: white; text-align: center; list-style-type: circle; list-style-position: inside; }

